<launch>

    <node pkg="location" name="location" type="location_manager.py" output="screen">
        <param name="info_file" value="mapping.txt"/>
    </node>
     <node pkg="mapping" name="mapping" type="mapping.py" output="screen">
        <param name="info_file" value="mapping.txt"/>
    </node>

    <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
    <include file="$(find turtlebot_custom)/launch/gmapping_lidar.launch"/>
    <include file="$(find turtlebot_custom)/launch/lidar.launch"/>
    <include file="$(find sound_system)/launch/navigation_nlp.launch"/>
    <include file="$(find sound_system)/launch/hotword.launch"/>
    <include file="$(find sound_system)/launch/speak.launch"/>
    <include file="$(find navigation)/launch/navigation.launch"/>

	<node pkg="move" name="MovementVelocityDesignation" respawn="false" type="MovementVelocityDesignation"/>
	<node pkg="follow_me" name="Follow" respawn="true" output="screen" type="Follow"/>

</launch>
